{% extends "./base.html" %}
{% load static %}
{% load static %}
{% block title %}Peeyote{% endblock %}
{% block content %}
<div class="abouthead">
</div>
<section class="about">
   
    <div class="aboutcont">
        <h1 class="display-1 pb-5 pt-5 text-center hportf scroll-reveal">About us</h1>
        <div class="aboutpcont">
    <p class="aboutp">peeyote Art Group is a professional photography studio which was founded on year 2020, specializing in advertising, portraits, modeling and software. Our goal is to promote and expand your business with creative ideas. We use professional equipment to provide excellent and quality services. The quality of our work and the growth of our service satisfaction are always improving and better with us and our customers. We believe that building lasting relationships with customers is the key to success. If you need creative and professional photography services, we are ready to turn your dream into fine art and bring your work to the top with attractive images.</p></div>
        </div>
        <div class="contact" id="contact"><h1 class="display-1 pb-1 pt-5 text-center hportf scroll-reveal">Contact Us</h1>
            <h4 class="display-4 pb-5 pt-1 text-center contacth">We'd love to hear from you</h4>
            <div class="cont">
               <div class="contactcont"><a href="https://500px.com/manager?view=photos&filter=all" class=" contico"><i class="fa fa-500px"></i></a><a class="contlink"href="https://500px.com/manager?view=photos&filter=all"><p class="contactp">Check out our 500px account</p></a></div>
               <div class="contactcont"><a href="https://t.me/@peeyote" class=" contico"><i class="fa fa-telegram"></i></a><a href="https://t.me/@peeyote" class="contlink"><p class="contactp">T.me/Peeyote</p></a></div>
              <div class="contactcont"><a href="https://wa.link/klil0z" class=" contico"><i class="fa fa-whatsapp"></i></a><a href="https://wa.link/klil0z" class="contlink"><p class="contactp">09354847280</p></a></div>
              <div class="contactcont"><a href="https://www.instagram.com/peeyote_studio/" class=" contico"><i class="fa fa-instagram"></i></a><a href="https://www.instagram.com/peeyote_studio/" class="contlink"><p class="contactp">@peeyote_studio</p></a></div>
              <div class="contactcont"><a href="" class=" contico"><i class="fa fa-envelope-open"></i></a><p class="contactp">Peeyote.studio@gmail.com</p></div>
            </div>
        
        
        
        </div>
        <div class="mt-3"></div>

</section>
{% endblock %}